# First Steps: Initial Setup

## Getting Started

Please look in the ```README.md``` to get started.

## SQL Magic

Jupyter notes support the concept of ["magics."](https://www.tutorialspoint.com/jupyter/ipython_magic_commands.htm). Running the cell below provides some information about magics.

In [55]:
%magic

[iPython-sql](https://pypi.org/project/ipython-sql/) is a useful magic for interacting with SQL databases. You can install and make the magic available by installing. The following cell will usually install the package. If the installation fails,
1. Follow the [instructions for Anaconda.](https://anaconda.org/conda-forge/ipython-sql)
2. Use web search with the error messages to see how others have solved the problem.

Contact the TA or professor if you cannot install the package.

In [56]:
!pip3 install pymysql

Requirement already satisfied: pymysql in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (1.0.2)

In [57]:
!pip3 install ipython-sql

Requirement already satisfied: ipython-sql in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (0.4.1)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython-sql) (1.4.41)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable<1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython-sql) (8.5.0)
Requirement already satisfied: sqlparse in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: pexpect>4.3 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: prompt-toolkit<3.1.0,>3.0.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (3.0.31)
Requirement already satisfied: traitlets>=5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (5.4.0)
Requirement already satisfied: pickleshare in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: stack-data in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.5.0)
Requirement already satisfied: jedi>=0.16 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: pygments>=2.4.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (2.13.0)
Requirement already satisfied: backcall in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: appnope in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from prompt-toolkit<3.1.0,>3.0.1->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: pure-eval in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from stack-data->ipython>=1.0->ipython-sql) (1.0.0)
Requirement already satisfied: asttokens in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.8)

Now bring the magic into the notebook's environment.

In [58]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Using the Magic

The first step in using the magic is to connect to your MySQL database server. You need to put your root user name and password in the code before executing the cells below. My values are in the cells for the demo.

In [59]:
db_user = "root"
db_password = "Pyx990504"

In [60]:
connection_string_template = "mysql+pymysql://{db_user}:{db_password}@localhost"
connection_string = connection_string_template.format(db_user=db_user, db_password=db_password)
connection_string

'mysql+pymysql://root:Pyx990504@localhost'

In [61]:
!pip3 install cryptography

Requirement already satisfied: cryptography in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (38.0.3)
Requirement already satisfied: cffi>=1.12 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from cryptography) (1.15.1)
Requirement already satisfied: pycparser in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from cffi>=1.12->cryptography) (2.21)

In [62]:
!pip3 install PyMySQL[rsa]

zsh:1: no matches found: PyMySQL[rsa]

In [63]:
%sql $connection_string

The notebook is now connected to the database server.

## Initial Data Setup

The first step is to create a database (also known) as a schema in the database server.

In [64]:
%sql create database if not exists f22_databases

 * mysql+pymysql://root:***@localhost
1 rows affected.

[]

The second step is to set the new database as the default database, and then create your first table.

Be very careful because the script drops the table (deletes the table). You loose any data if you previously used the table.

In [65]:
%sql use f22_databases

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [66]:
%sql drop table if exists write_reviews
%sql drop table if exists restaurants
%sql drop table if exists reviews

 * mysql+pymysql://root:***@localhost
0 rows affected.
 * mysql+pymysql://root:***@localhost
0 rows affected.
 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

There is a [comma separated value](https://en.wikipedia.org/wiki/Comma-separated_values) file
that contains some simulated data created with [Mockaroo](https://www.mockaroo.com/). I have a paid account on Mockaroo, which means you may not be able to create and download sample data that I am able to create.

We will write a simple Python script to load the data from the file into the database.

In [67]:
import pymysql

In [68]:
# This create a connection from the notebook environment to the database server.
# Do not worry about what all the parameters mean.
#
# You must have set the values for db_user and db_password above.
#
conn = pymysql.connect(
    host="localhost",
    port=3306,
    user=db_user,
    password=db_password,
    cursorclass=pymysql.cursors.DictCursor,
    autocommit=True)

In [69]:
conn

In [70]:
# Use a simple Python library for CSV files to read the data.
#
import csv

new_rows = []

# Open the file for reading and then wrap with a CSV reader class.
with open('./sample_writeReview_info.csv') as in_text_file:
    csv_file = csv.DictReader(in_text_file)
    for r in csv_file:
        new_rows.append(r)

new_rows2 = []

# Open the file for reading and then wrap with a CSV reader class.
with open('./sample_restaurant_info.csv') as in_text_file:
    csv_file = csv.DictReader(in_text_file)
    for r in csv_file:
        new_rows2.append(r)
        
new_rows3 = []

# Open the file for reading and then wrap with a CSV reader class.
with open('./sample_review_info.csv') as in_text_file:
    csv_file = csv.DictReader(in_text_file)
    for r in csv_file:
        new_rows3.append(r)

In [71]:
# Let's look at the data
new_rows[0:2]

[{'review_id': 'rrr000', 'user_id': 'xxx123', 'restaurant_id': 'xxx001'},
 {'review_id': 'rrr001', 'user_id': 'abc123', 'restaurant_id': 'xxx002'}]

Columns in relational databases have [types.](https://www.tutorialspoint.com/sql/sql-data-types.htm) Specific products implementing SQL databases usually have modifications and extensions. For now, we will just treat all of the data as "strings." So, we are going to create the table and its columns. We will use the SQL magic just for the heck of it.

In [72]:
%%sql

create table restaurants
(
    rid         varchar(256) primary key,
    name        varchar(128) not null,
    address     varchar(256) not null,
    email       varchar(256) not null,
    phone       varchar(128) not null,
    category    varchar(128) not null

);

create table reviews
(
    rrid        varchar(256) primary key,
    rating      varchar(8) not null,
    content     varchar(256) not null

);

create table write_reviews
(
    rrid               varchar(256) primary key,
    foreign key (rrid) references reviews(rrid),
    uid                varchar(256) not null,
    rid                varchar(256) not null,
    foreign key (rid)  references restaurants(rid)

);

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.

[]

We can examine the table's structure.

In [73]:
%sql describe write_reviews

 * mysql+pymysql://root:***@localhost
3 rows affected.

[('rrid', 'varchar(256)', 'NO', 'PRI', None, ''),
 ('uid', 'varchar(256)', 'NO', '', None, ''),
 ('rid', 'varchar(256)', 'NO', 'MUL', None, '')]

- The SQL operation for creating a row is ```INSERT.```


- We will make a template string statement for the insert.

In [74]:
# The %s are placeholders for adding values.
insert_sql = """
    insert into f22_databases.write_reviews(rrid, uid, rid)
    values(%s,%s,%s)
"""

insert_sql2 = """
    insert into f22_databases.restaurants(rid, name, address, email, phone, category)
    values(%s,%s,%s,%s,%s,%s)
"""

insert_sql3 = """
    insert into f22_databases.reviews(rrid, rating, content)
    values(%s,%s,%s)
"""

Now loop through the data and do the inserts.

In [75]:
# Do now worry about what a cursor is for now.
#
cur = conn.cursor()

In [77]:
for r in new_rows2:
    # print(r.values())
    print("SQL = ", cur.mogrify(insert_sql2, list(r.values())))
    res = cur.execute(insert_sql2,list(r.values()))

for r in new_rows3:
    # print(r.values())
    print("SQL = ", cur.mogrify(insert_sql3, list(r.values())))
    res = cur.execute(insert_sql3,list(r.values()))
    
for r in new_rows:
    # print(r.values())
    print("SQL = ", cur.mogrify(insert_sql, list(r.values())))
    res = cur.execute(insert_sql,list(r.values()))

SQL =
    insert into f22_databases.restaurants(rid, name, address, email, phone, category)
    values('xxx000','Happy Hot Hunan','969 Amsterdam Ave, New York, NY 10025','hhh@gmail.com','(212) 531-1786','Chinese')

SQL =
    insert into f22_databases.restaurants(rid, name, address, email, phone, category)
    values('xxx001','McDonald','2794 Broadway, New York, NY 10025','md@gmail.com','(212) 222-8714','American')

SQL =
    insert into f22_databases.restaurants(rid, name, address, email, phone, category)
    values('xxx002','Subway','2508 Broadway, New York, NY 10025','sub@gmail.com','(212) 665-6700','American')

SQL =
    insert into f22_databases.restaurants(rid, name, address, email, phone, category)
    values('xxx003','Kura','130 St Marks Pl, New York, NY 10003','kura@gmail.com','(212) 228-1010','Japanese')

SQL =
    insert into f22_databases.restaurants(rid, name, address, email, phone, category)
    values('xxx004','Sala Thai','307 Amsterdam Ave, New York, NY 10023','st@gmail.com','(212) 433-3999','Thai')

SQL =
    insert into f22_databases.restaurants(rid, name, address, email, phone, category)
    values('xxx005','Genki','552 LaGuardia Pl #4, New York, NY 10012','genki@gmail.com','(347) 618-2866','Japanese')

SQL =
    insert into f22_databases.restaurants(rid, name, address, email, phone, category)
    values('xxx006','Up Thai','1411 2nd Ave, New York, NY 10021','ut@gmail.com','(212) 256-1199','Thai')

SQL =
    insert into f22_databases.restaurants(rid, name, address, email, phone, category)
    values('xxx007','108 Food Dried Hot Pot','2794 Broadway, New York, NY 10025','108@gmail.com','(917) 675-6878','Chinese')

SQL =
    insert into f22_databases.reviews(rrid, rating, content)
    values('rrr000','5','Nice')

SQL =
    insert into f22_databases.reviews(rrid, rating, content)
    values('rrr001','5','Great')

SQL =
    insert into f22_databases.reviews(rrid, rating, content)
    values('rrr002','5','Excellent')

SQL =
    insert into f22_databases.reviews(rrid, rating, content)
    values('rrr003','4','Good')

SQL =
    insert into f22_databases.reviews(rrid, rating, content)
    values('rrr004','3','Not Bad')

SQL =
    insert into f22_databases.reviews(rrid, rating, content)
    values('rrr005','5','Amazing')

SQL =
    insert into f22_databases.reviews(rrid, rating, content)
    values('rrr006','1','Terrible')

SQL =
    insert into f22_databases.reviews(rrid, rating, content)
    values('rrr007','2','Something to eat')

SQL =
    insert into f22_databases.write_reviews(rrid, uid, rid)
    values('rrr000','xxx123','xxx001')

SQL =
    insert into f22_databases.write_reviews(rrid, uid, rid)
    values('rrr001','abc123','xxx002')

SQL =
    insert into f22_databases.write_reviews(rrid, uid, rid)
    values('rrr002','xxx123','xxx003')

SQL =
    insert into f22_databases.write_reviews(rrid, uid, rid)
    values('rrr003','xxx123','xxx004')

SQL =
    insert into f22_databases.write_reviews(rrid, uid, rid)
    values('rrr004','xxx123','xxx005')

SQL =
    insert into f22_databases.write_reviews(rrid, uid, rid)
    values('rrr005','abc123','xxx006')

SQL =
    insert into f22_databases.write_reviews(rrid, uid, rid)
    values('rrr006','abc123','xxx007')

SQL =
    insert into f22_databases.write_reviews(rrid, uid, rid)
    values('rrr007','abc123','xxx001')

Let's see if we can find our data.

In [79]:
%sql select * from f22_databases.write_reviews;

 * mysql+pymysql://root:***@localhost
8 rows affected.

[('rrr000', 'xxx123', 'xxx001'),
 ('rrr001', 'abc123', 'xxx002'),
 ('rrr002', 'xxx123', 'xxx003'),
 ('rrr003', 'xxx123', 'xxx004'),
 ('rrr004', 'xxx123', 'xxx005'),
 ('rrr005', 'abc123', 'xxx006'),
 ('rrr006', 'abc123', 'xxx007'),
 ('rrr007', 'abc123', 'xxx001')]

## Complete

The phase of the project initial setup is complete.

We will perform other tasks in future steps.